body{
  font-family: 'Poppins', sans-serif;
}
/* background-color */
.bg-F0FFF0{
  background-color: #F0FFF0;
}
.bg-21B573{
  background-color: #21B573;
}
/* text-color */
.text-21B573{
  color: #21B573;
}
.text-FD511A{
  color: #FD511A;
}
.text-6C6B6B{
  color: #6C6B6B;
}

/* h1 - heading */
.heading-one{
  font-size: 48px;
  line-height: 70px;
  font-weight: 700;
  margin-bottom: 19px;
}